*{
margin: 0;
padding:0;
box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:aliceblue;
}
main{
    height: 75vh;
}

.banner{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.wrapper{
    display: flex;

    max-width: 70%;
    width:100%;
    height: 100%;
    
    

    margin-right: auto;
    margin-left: auto;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.tile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 25%;
    width: 98%;

    background-color: lightskyblue;
    border-color:rgb(62, 131, 200);

    margin: 1% 0.5%;   

    transition: 1s background-color,0.1s transform;
    
}

.tile:hover{
    background-color:lightpink;
    transform: scale(1.05);
}

.hide{
    visibility: hidden;
}

footer{
    width:100%;
    height: 30px;
    margin-top: auto;
    background-color: lightsteelblue;
    padding-top:0.5%;

}
footer p{
    text-align: center;
     line-height: 15px; 
}


